
@media only screen and (min-width:555px){
    .logo{
        width: 150px;
        height: 150px;
    }

    .header .motto {
        margin: auto;
    }

    .relay{
        position: relative;
    }
    .weather-sum{
        width: 230px;
        position: absolute;
        top: 0;
        left: 5%;
        background: none;
        color: white;
        background-color: #008B8B;
        opacity:0.5;
        padding:0px;
    }

    td, th{
        font-size: 20px;
    }

    .motto h1{
        font-size: 30px;
    }

    .motto span{
        font-size: 20px;
    }
    nav{
        max-width: 100%;
    }

    .navigation{
        
        grid-template-columns: repeat(6,auto);
    }

    .navigation li{
        display: block;
    }

    .navigation li a{
        text-align: center;
    }

    .navigation li:first-child{
        display: none;
    }
}
